<h1 class="userpage__title"><%= @title = "有給取得日登録" %></h1>
<p>
  日付を１行ごとに入力してください<br>
  【例】<br>
  2015-06-13<br>
  2016-1-1<br>
</p>

<div class="row">
  <div id="full-vacations" class="collection col s12">
  </div>
</div>

<p>
<a type="button" id="regist-vacation" class="waves-light btn">登録</a>
</p>
