<h1><%= "有給登録" %></h1>
<div id="user-id" style="display:none"><%= @user_id %></div>
<p>
  日付を１行ごとに入力してください<br>
  【例】<br>
  2015-06-13<br>
  2016-1-1<br>
</p>

<p>
  <input type="button" id="regist-vacation" class="button--design" value="登録">
</p>

<table>
  <tr>
    <td>全休</td>
    <td>半休</td>
  </tr>
  <tr>
    <td><textarea id="full-vacation" rows="10" cols="20"></textarea></td>
    <td><textarea id="half-vacation" rows="10" cols="20"></textarea></td>
  </tr>
</table>

