<h1 class="userpage__title"><%= "有給登録" %></h1>
<p>
  日付を１行ごとに入力してください<br>
  【例】<br>
  2015-06-13<br>
  2016-1-1<br>
</p>

<div class="row">
  <div class="input-field col s6">
    <textarea id="full-vacation" class="materialize-textarea" rows="10" cols="20"></textarea>
    <label for="full-vacation">全休</label>
  </div>
  <div class="input-field col s6">
    <textarea id="half-vacation" class="materialize-textarea" rows="10" cols="20"></textarea>
  <label for="half-vacation">半休</label>
  </div>
</div>

<p>
<a type="button" id="regist-vacation" class="waves-light btn">登録</a>
</p>
