<h1>ユーザページ</h1>
<p id="user-id" class="screen--hidden"><%= @user_id %></p>
<p id="user-name" class="screen--hidden"><%= @name %>さん</p>
<p>
  <input type="button" id="attend" class="user-page__button" value="出勤">
  <span id="attend-message"></span>
</p>

<p>
  <input type="button" id="leave" class="user-page__button" value="退勤">
  <span id="leave-message"></span>
</p>

<p>
  <input type="button" id="view-paid-vacation" class="user-page__button" value="有給残数">
</p>

<p>
  <a href=javascript:window.open(<%= "\"#{app_path}/bookmarklet/attend\"" %>); >出勤ブックマークレット</a>
</p>
<p>
  <a href=javascript:window.open(<%= "\"#{app_path}/bookmarklet/leave\"" %>); >退勤ブックマークレット</a>
</p>
