<h1>ユーザページ</h1>
<p id="user-id"><%= @user_id %></p>
<p id="user-name"><%= @name %>さん</p>
<div id="attend-message"></div>
<div id="leave-message"></div>
<p>
  <input type="button" id="attend" value="出勤">
</p>

<p>
  <input type="button" id="leave" value="退勤">
</p>

<p>
  <input type="button" id="to-read-data" value="出退勤状況">
</p>

<p>
  <input type="button" id="to-modify" value="ユーザ情報変更">
</p>

<p>
  <input type="button" id="view-paid-vacation" value="有給残数">
</p>

<p>
  <input type="button" id="to-add-paid-vacation" value="有給取得日登録">
</p>

<p>
  <input type="button" id="logout" value="ログアウト">
</p>

<p>
  <a href=javascript:window.open(<%= "\"#{app_path}/bookmarklet/attend\"" %>); >出勤ブックマークレット</a>
</p>
<p>
  <a href=javascript:window.open(<%= "\"#{app_path}/bookmarklet/leave\"" %>); >退勤ブックマークレット</a>
</p>
