<h1 class="userpage__title"><%= @title = 'ユーザページ' %></h1>
<div id="user-page">
  <div class="row s12 user-page__row">
    <a class="col s2 waves-effect waves-light btn-large user-page__button" type="button" id="attend">出勤</a>
    <span id="attend-message" class="user-page__vertical"></span>
  </div>
  <div class="row s12 user-page__row">
    <a class="col s2 waves-effect waves-light btn-large user-page__button user-page__col" type="button" id="leave">退勤</a>
    <span id="leave-message" class="user-page__vertical"></span>
  </div>
  <div class="row s12 user-page__row">
    <a class="col s2 waves-effect waves-light btn-large user-page__button" type="button" id="view-paid-vacation">有給残数</a>
  </div>
</div>
<p>
  <a href=javascript:window.open(<%= "\"#{request.scheme}:#{app_path}/bookmarklet/attend\"" %>); >出勤ブックマークレット</a>
</p>
<p>
  <a href=javascript:window.open(<%= "\"#{request.scheme}:#{app_path}/bookmarklet/leave\"" %>); >退勤ブックマークレット</a>
</p>
