<h1>ユーザページ</h1>
<p id="user-id"><%= @user_id %></p>
<p id="user-name"><%= @name %>さん</p>
<div id="attend-message"></div>
<div id="leave-message"></div>
<p>
<a class="waves-effect waves-light btn" type="button" id="attend">出勤</a>
</p>

<p>
<a class="waves-effect waves-light btn" type="button" id="leave">退勤</a>
</p>

<p>
<a class="waves-effect waves-light btn" type="button" id="view-paid-vacation">有給残数</a>
</p>

<p>
  <a href=javascript:window.open(<%= "\"#{app_path}/bookmarklet/attend\"" %>); >出勤ブックマークレット</a>
</p>
<p>
  <a href=javascript:window.open(<%= "\"#{app_path}/bookmarklet/leave\"" %>); >退勤ブックマークレット</a>
</p>
