<h3>ユーザページ</h3>
<p id="user-id"><%= @user_id %></p>
<p id="user-name"><%= @name %>さん</p>
<div id="user-page" class="row">
  <div class="col s6">
    <a class="col s4 waves-effect waves-light btn-large user-page__button" type="button" id="attend">出勤</a>
    <div id="attend-message" class="user-page__vertical"></div>
  </div>
  <div class="col s6">
    <a class="col s4 waves-effect waves-light btn-large user-page__button" type="button" id="leave">退勤</a>
    <div id="leave-message" class="user-page__vertical"></div>
  </div>
  <div class="col s6">
    <a class="col s4 waves-effect waves-light btn-large user-page__button" type="button" id="view-paid-vacation">有給残数</a>
  </div>
</div>
<p>
  <a href=javascript:window.open(<%= "\"#{app_path}/bookmarklet/attend\"" %>); >出勤ブックマークレット</a>
</p>
<p>
  <a href=javascript:window.open(<%= "\"#{app_path}/bookmarklet/leave\"" %>); >退勤ブックマークレット</a>
</p>
