<h1 class="userpage__title"><%= @title = 'ユーザ情報変更' %></h1>
<div class="row">
  <form class="col s12">
    <div class="input-field col s12">
      <input id="user-name" type="text" placeholder="" class="validate">
      <label for="user-name">名前</label>
    </div>
    <div class="input-field col s12">
      <select id="department">
        <%==
          Model::Departments.list_names.map { |d|
          "<option value=#{d}>#{d}</option>"
        }.join
        %>
      </select>
      <label>所属</label>
    </div>
    <div class="input-field col s4">
      <input id="enter-year" type="number" placeholder="" class="validate">
      <label for="enter-year">入社年</label>
    </div>
    <div class="input-field col s4">
      <input id="enter-month" type="number" placeholder="" class="validate">
      <label for="enter-month">月</label>
    </div>
    <div class="input-field col s4">
      <input id="enter-day" type="number" placeholder="" class="validate">
      <label for="enter-day">日</label>
    </div>
    <div class="input-field col s12">
      <input id="new-password" type="password" placeholder="変更しない場合は空欄にして下さい。" class="validate">
      <label for="new-password">新しいパスワード</label>
    </div>
    <div class="input-field col s12">
      <input id="password-for-modifying" type="password" class="validate">
      <label for="password-for-modifying">現在のパスワード</label>
    </div>
    <div class="col s12">
      <input type="button" id="user-modify" class="btn" value="変更">
    </div>
  </form>
</div>

<div class="row">
  <h2 class="userpage__subtitle">ユーザアカウント削除</h2>
  <form class="col s12">
    <div class="input-field col s12">
      <input id="password-for-deleting" type="password" class="validate">
      <label for="password-for-deleting">パスワード</label>
    </div>
    <div class="col s12">
      <button id="delete" data-target="modal1" class="btn modal-trigger">削除</button>
    </div>
  </form>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <p>削除すると以後ログインできません。本当にアカウントを削除しますか？</p>
  </div>
  <div class="modal-footer">
    <a id="cancel" class=" modal-action modal-close waves-effect waves-green btn-flat">cancel</a>
    <a id="ok" class=" modal-action modal-close waves-effect waves-green btn-flat">ok</a>
  </div>
</div>
