.admin-button {
  @extend .deep-orange;
  min-width:7rem;
}

.admin-top__menu-detail-table{
  tr {
    td {
      padding: 5px 5px;
      p {
        padding-left: 1rem;
      }
    }
  }
}

.admin-top__menu-detail-table__button-td {
    width: 12rem;
    button {
        width: 100%;
    } 
}

.admin-menu{
  background-color: #021F4D;
  .admin-menu__background {
    height: auto;
    width: 100%;
    background-color: #021F4D;
    margin-bottom: 30px;
    ul {
      width: 100%;
      #login-admin-id {
        padding-right: 1rem;
      }
    }
  }
}

.admin-pagename{
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.admin-sub-pagename {
  font-size: 1.64rem;
}