.admin-button {
  @extend .deep-orange;
  min-width:7rem;
}

.admin-top__menu-detail-table{
  tr {
    td {
      padding: 5px 5px;
      p {
        padding-left: 1rem;
      }
    }
  }
}

.admin-top__menu-detail-table__button-td {
  width: 12rem;
  button {
    width: 100%;
  } 
}

.admin-menu{
  .admin-menu__background {
    height: auto;
    width: 100%;
    background-color: #021F4D;
    margin-bottom: 30px;
    .admin-menu__contents ul {
      width: 100%;
      .admin-menu__contents--main {
        margin-right: 100px;
        min-width: 145px;
        li {
          width: 145px;
          text-align: center;
          border: solid;
          border-width: 1px;
          border-color: white;
        }
      }
      .admin-menu__admin-id {
        width: 90px;
        margin-left: 10px;
      }
    }
  }
}

.admin-menu__login {
  background-color: #021F4D;
}

.admin-pagename{
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.admin-sub-pagename {
  font-size: 1.64rem;
}
