.current-user--class {
  float: right;
  height: 64px;
  background: #ee6e73;
}

.index__btn{
  margin-top: 30px;
  padding: 0px;
  border: none;
  width: 140px;
}


.user-page__menu{
  background: #ee6e73;
  border: 1px;
  border-color: #FEFEFE;
}

h1.userpage__title{
  font-size: 270%;
  color: #565656;
  margin: 40px 0px 20px;
}

h2.userpage__subtitle{
  font-size: 200%;
  margin: 50px 0px 0px;
}

h1.top-page__title{
  font-size: 300%;
  color: #565656;
}

#user-page{
  margin: 0px;
}

#user-page .user-page__button{
  margin: 10px 0px;
  min-width: 150px;
}

.user-page__menu__column{
  border-style: none solid none none;
  border-color: #fefefe;
  border-width: 1px;
}

#user-page .user-page__row{
  margin: 30px 0px 0px;
}

.user-page__menu__column--left{
  border-style: none solid none solid;
  border-color: #fefefe;
  border-width: 1px;
}

.user-page__vertical{
  display: inline-block;
  width: 450px;
  margin: 23px 35px 0px;
}

.register__btn--right{
  float: right;
  margin: 30px 20px 40px;
  padding: 8px;
  width: 150px;
  height: 50px;
  font-size: 30px;
}

#register--page .register__label--font-size{
  font-size: 20px;
}

.none{
  display: none;
}

