table {
  table-layout: fixed;
  border-collapse: collapse;
  box-sizing: border-box;
}
tr {
  box-sizing: border-box;
}
td {
  box-sizing: border-box;
}
th {
  box-sizing: border-box;
}

$base-table-border: solid 1px #000000;
$width-of-table: 820px;
// TODO: table-cellはborder-boxでもborderを含めてくれない?
$cell-width-day-and-week: 29px;
$cell-width-attendance-and-leaving: 77px;
$cell-width-boss_s-mark: 66px;
$cell-width-midnight-and-holiday-and-prearannged: 80px;
$column-width-bases: 60px;


.attendance-record {
  @mixin table__menu-base-styles {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    border: $base-table-border;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
  }


  top: 0;
  left: 0;
  position: relative;
  width: 820px;

  &__menu--year {
    width: 100px;
  }

  @mixin attendance-record__input {
    background-color: #FDFDFD;
    border: none;
    border-bottom: none;
    border-radius: 0;
    outline: none;
    height: 1rem;
    font-size: 5px;
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.3s;
  }

  &__select {
    font-size:15px;
  }

  &__btn {
    width: 60px;
    padding: 0 5px;
  }

  &__title {
    font-size: 20px;
    letter-spacing: 1em;
  }

  &__profession {
    position: absolute;
    top: 0px;
    width: 208px;
    left: 820px - 208px;
    border-style: solid;
    border-width: 1px;
    padding: 20px 55px 20px 55px;
    margin: 0px;
    font-weight: bold;
    font-size: 24px;
  }

  @mixin base-table__column-styles ($width: 60px){
    font-size: 9px;
    padding: 0px;
    margin: 0px;
    border: $base-table-border;
    border-bottom: none;
    border-radius: 0px;
    text-align: center;
    vertical-align: middle;
    width: $width;
    height: 60px;
    box-sizing: border-box;
  }

  &__description-header-table {
    width: 216px;
    &__menu {
      @include table__menu-base-styles();
      height: 28px;
      width: 79px * 2;
      border-bottom: none;
      &__insert {
        border: none;
        margin: 0px;
        padding: 0px;
        text-align: center;
        vertical-align: middle;
        font-size: 11px;
        width: 100%;
      }
      &--title {
        @include table__menu-base-styles();
        border-bottom: none;
        height: 28px;
        width: $cell-width-day-and-week * 2;
      }
    }

    &__column {
      @include base-table__column-styles;
      &--dayAndweek {
        @include base-table__column-styles($cell-width-day-and-week - 2);
        padding-top: 4px;
        vertical-align: top;
      }

      &--attendance {
        @include base-table__column-styles($cell-width-attendance-and-leaving - 2);
        border-right-style: dotted;
      }

      &--leaving {
        @include base-table__column-styles($cell-width-attendance-and-leaving - 2);
        border-left-style: none;
      }

      &--mark {
        @include base-table__column-styles($cell-width-boss_s-mark - 2);
        font-size: 12px;
        font-weight: bold;
      }

      &--midnightAndholidayAndprearranged {
        @include base-table__column-styles($cell-width-midnight-and-holiday-and-prearannged - 2);
      }

      &--etc {
        @include base-table__column-styles(160px);
      }
    }


  }

  &__table {
    width: $width-of-table;

    &__menu {
      @include table__menu-base-styles();
      height: 28px;
      width: 150px;
      &__insert {
        border: none;
        margin: 0px;
        padding: 0px;
        text-align: center;
        vertical-align: middle;
        font-size: 11px;
        width: 100%;
      }

      &--title {
        @include table__menu-base-styles();
        height: 28px;
        width: 54px;
      }
    }


    &__row--holiday {
      background-color: #D9D9D9 !important;
    }

    &__column {
      @include base-table__column-styles;
      &--dayAndweek {
        @include base-table__column-styles($cell-width-day-and-week);
        padding-top: 4px;
        vertical-align: top;
      }

      &--attendance {
        @include base-table__column-styles($cell-width-attendance-and-leaving - 2);
        border-right-style: dotted;
      }

      &--leaving {
        @include base-table__column-styles($cell-width-attendance-and-leaving - 2);
        border-left-style: none;
      }

      &--mark {
        @include base-table__column-styles($cell-width-boss_s-mark - 2);
        font-size: 12px;
        font-weight: bold;
      }

      &--midnightAndholidayAndprearranged {
        @include base-table__column-styles($cell-width-midnight-and-holiday-and-prearannged - 2);
      }

      &--etc {
        @include base-table__column-styles(160px);
      }
    }


    @mixin base-table__cell-styles() {
      padding: 0px;
      margin: 0px;
      border: $base-table-border;
      font-size: 9px;
      height: 27px;
      box-sizing: border-box;
      overflow: hidden;
    }
    &__cell {
      @include base-table__cell-styles();
      width: 60px;

      &--dayAndweek {
        @include base-table__cell-styles();
        width: $cell-width-day-and-week - 2;
      }

      &--attendanceLine {
        @include base-table__cell-styles();
        border-right-style: dotted;
        width: $cell-width-attendance-and-leaving - 2;
      }

      &--leavingLine {
        @include base-table__cell-styles();
        border-left-style: none;
        width: $cell-width-attendance-and-leaving - 2;
      }

      &--mark {
        @include base-table__cell-styles();
        width: $cell-width-boss_s-mark - 2;
      }

      &--midnightAndholidayAndprearranged {
        @include base-table__cell-styles();
        width: $cell-width-midnight-and-holiday-and-prearannged - 2;
      }

      &--etc {
        @include base-table__cell-styles();
        width: 160px;
      }
    }

    #table &__insert {
      @include attendance-record__input;
      border: none;
      background: none;
      text-align: center;
      vertical-align: middle;
      font-size: 9px;
      color:#000000;
      width: 100%;
    }

    &__total {
      padding: 0px;
      margin: 0px;
      text-align: center;
      vertical-align: middle;
      border: $base-table-border;
      border-top-style: none;
      font-size: 9px;
      height: 27px;
      width: 60px;
      box-sizing: border-box;

      &--dayAndweek {
        @extend .attendance-record__table__total;
        width: $cell-width-day-and-week - 2;
      }

      &--attendAndleave {
        @extend .attendance-record__table__total;
        width: 75px;
      }

      &--mark {
        @extend .attendance-record__table__total;
        width: $cell-width-boss_s-mark - 2;
      }

      &--midnightAndholidayAndprearranged {
        @extend .attendance-record__table__total;
        width: $cell-width-midnight-and-holiday-and-prearannged - 2;
      }

      &--etc {
        @extend .attendance-record__table__total;
        width: 160px;
      }
    }


    &__finish-vacation {
      padding: 0px;
      margin: 0px;
      text-align: center;
      vertical-align: middle;
      border: $base-table-border;
      font-size: 9px;
      height: 31px;
      box-sizing: border-box;

      &--top {
        @extend .attendance-record__table__finish-vacation;
        width: 54px;
      }
    }

    #table &__table__menu__insert {
      @include attendance-record__input;
      border: none;
      text-align: center;
      vertical-align: middle;
      font-size: 8px;
      color:#000000;
      border-bottom: none;
    }
  }

  &__table2 {
    position: absolute;
    left: $cell-width-day-and-week * 2 + $cell-width-attendance-and-leaving * 2 + $cell-width-boss_s-mark + 6;  // FIXME: なぜ6なのかわからん
    width: $cell-width-midnight-and-holiday-and-prearannged * 3 + $column-width-bases + 3;
    box-sizing: border-box;

    &--request {
      &__menu {
        @include table__menu-base-styles();
        width: $column-width-bases;
        height: 28px;
      }
      &__insert {
        @include table__menu-base-styles();
        width: $column-width-bases;
        height: 70px;
      }
    }
    &--approval {
      &__menu {
        @include table__menu-base-styles();
        width: 231px;
        height: 28px;
      }

      &__insert {
        @include table__menu-base-styles();
        width: 77px;
        height: 70px;
      }
    }
  }
}
