@media print{
  body{
    font-family: "MS ゴシック","Hiragino Kaku Gothic ProN",sans-serif;
  }

  .container{
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  .print--hidden{
    display: none;
  }

  .attendance-record{
    top: 0px;
    left: 0px;
    position: relative;
  }

  .attendance-record__title{
    font-size: 20px;
    letter-spacing: 1em;
  }

  .attendance-record__profession{
    position: absolute;
    top: 0px;
    left: 590px;
    border-style: solid;
    border-width: 1px;
    padding: 20px 55px 20px 55px;
    font-weight: bold;
    font-size: 24px;
  }

  .attendance-record__table{
    border-collapse: collapse;
    box-sizing: border-box;
    width: auto;
  }

  .attendance-record__table2{
    border-collapse: collapse;
    position: absolute;
    left: 280px;
    box-sizing: border-box;
  }

  @mixin attendance-record__table__menu--mixin($width, $height: 35px){
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    text-align: center;
    vertical-align: middle;
    height: $height;
    width: $width;
    box-sizing: border-box;
  }

  .attendance-record__table__menu{
    @include attendance-record__table__menu--mixin(150px);
  }

  .attendance-record__table__menu--title{
    @include attendance-record__table__menu--mixin(54px);
  }

  .attendance-record__table2--approval__menu{
    @include attendance-record__table__menu--mixin(231px);
  }

  .attendance-record__table2--request__menu{
    @include attendance-record__table__menu--mixin(60px);
  }

  .attendance-record__table2--approval__insert{
    @include attendance-record__table__menu--mixin(77px, 70px);
  }

  .attendance-record__table2--request__insert{
    @include attendance-record__table__menu--mixin(60px, 70px);
  }

  .attendance-record__table__menu__insert{
    border: none;
    margin: 0px;
    padding: 0px;
    background: none;
    text-align: center;
    vertical-align: middle;
    font-size: 11px;
    width: 100%;
  }

  @mixin attendance-record__table__column--mixin($width: 60px){
    font-size: 9px;
    padding: 0px;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-bottom: none;
    border-radius: 0px;
    text-align: center;
    vertical-align: middle;
    width: $width;
    height: 60px;
    box-sizing: border-box;
  }

  .attendance-record__table__column{
    @include attendance-record__table__column--mixin;
  }

  .attendance-record__table__column--dayAndweek{
    @include attendance-record__table__column--mixin(27px);
    padding-top: 4px;
    vertical-align: top;
  }

  .attendance-record__table__column--attendance{
    @include attendance-record__table__column--mixin(75px);
    border-right-style: dotted;
  }

  .attendance-record__table__column--leaving{
    @include attendance-record__table__column--mixin(75px);
    border-left-style: none;
  }

  .attendance-record__table__column--mark{
    @include attendance-record__table__column--mixin(64px);
    font-size: 12px;
    font-weight: bold;
  }

  .attendance-record__table__column--midnightAndholidayAndprearranged{
    @include attendance-record__table__column--mixin(77px);
  }

  .attendance-record__table__column--etc{
    @include attendance-record__table__column--mixin(160px);
  }

  @mixin attendance-record__table__cell--mixin($width: 60px){
    padding: 0px;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    font-size: 9px;
    height: 27px;
    width: $width;
    box-sizing: border-box;
    overflow: hidden;
  }
  .attendance-record__table__cell--dayAndweek{
    @include attendance-record__table__cell--mixin(27px);
  }

  .attendance-record__table__cell--attendanceLine{
    @include attendance-record__table__cell--mixin(75px);
    border-right-style: dotted;
  }

  .attendance-record__table__cell--leavingLine{
    @include attendance-record__table__cell--mixin(75px);
    border-left-style: none;
  }

  .attendance-record__table__cell--mark{
    @include attendance-record__table__cell--mixin(64px);
  }

  .attendance-record__table__cell--midnightAndholidayAndprearranged{
    @include attendance-record__table__cell--mixin(77px);
  }

  .attendance-record__table__cell--etc{
    @include attendance-record__table__cell--mixin(160px);
  }

  .attendance-record__table__insert{
    border: none;
    padding: 0px;
    margin: 0px;
    background: none;
    text-align: center;
    vertical-align: middle;
    font-size: 9px;
    width: 100%;
  }

  @mixin attendance-record__table__total--mixin($width: 60px){
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-top-style: none;
    font-size: 9px;
    height: 27px;
    width: $width;
    box-sizing: border-box;
  }

  .attendance-record__table__total{
    @include attendance-record__table__total--mixin;
  }

  .attendance-record__table__total--dayAndweek{
    @include attendance-record__table__total--mixin(27px);
  }

  .attendance-record__table__total--attendAndleave{
    @include attendance-record__table__total--mixin(75px);
  }

  .attendance-record__table__total--mark{
    @include attendance-record__table__total--mixin(64px);
  }

  .attendance-record__table__total--midnightAndholidayAndprearranged{
    @include attendance-record__table__total--mixin(77px);
  }

  .attendance-record__table__total--etc{
    @include attendance-record__table__total--mixin(160px);
  }


  @mixin attendance-record__table__finish-vacation--mixin{
    padding: 0px;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    font-size: 9px;
    height: 31px;
    box-sizing: border-box;
  }

  .attendance-record__table__finish-vacation{
    @include attendance-record__table__finish-vacation--mixin;
  }

  .attendance-record__table__finish-vacation--top{
    @include attendance-record__table__finish-vacation--mixin;
    text-align: center;
    vertical-align: middle;
    width: 54px
  }
}
