@media print{
  body{
    font-family: "MS ゴシック","Hiragino Kaku Gothic ProN",sans-serif;
  }

  .printable__body {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  .print--hidden{
    display: none;
  }
}
