@media print {
  body {
    font-family: "MS ゴシック","Hiragino Kaku Gothic ProN",sans-serif;
  }

  // NOTE: materializeが自動で入れるmarginをoverride
  .container {
    padding: 0;
    margin: 0;
  }

  .printable__body {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  .print--hidden {
    display: none;
  }
}
