body{
  font-family:"MS ゴシック","Hiragino Kaku Gothic ProN",sans-serif;
}

.table{
  border-collapse: collapse;
}

.table__menu{
  font-size:9px;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  text-align:center;
  vertical-align:middle;
  height:28px;
}

.table__menu__insert{
  width:150px;
  height:28px;
  border:none;
  background:none;
  text-align:center;
  vertical-align:middle;
  font-size:8px;
}


.table__insert__1-2rows{
  border:none;
  background:none;
  text-align:center;
  vertical-align:middle;
  font-size:6px;
  width:27px;
  height:21px;
}

.table__insert__3-4rows{
  border:none;
  background:none;
  text-align:center;
  vertical-align:middle;
  font-size:6px;
  width:75px;
  height:21px;
}

.table__insert__5row{
  border:none;
  background:none;
  text-align:center;
  vertical-align:middle;
  font-size:6px;
  width:64px;
  height:21px;
}

.table__insert__6-7-8rows{
  border:none;
  background:none;
  text-align:center;
  vertical-align:middle;
  font-size:6px;
  width:77px;
  height:21px;
}

.table__insert__9-10rows{
  border:none;
  background:none;
  text-align:center;
  vertical-align:middle;
  font-size:6px;
  width:60px;
  height:21px;
}

.table__insert__etc{
  border:none;
  background:none;
  text-align:center;
  vertical-align:middle;
  font-size:6px;
  width:230px;
  height:21px;
}

td.dayAndweek{
  padding:4px 0px 0px 0px;
  font-size:6px;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  text-align:center;
  vertical-align:top;
  width:27px;
  height:50px;
}

td.column{
  font-size:6px;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  text-align:center;
  vertical-align:middle;
  width:60px;
  height:50px;
}

td.etc{
  font-size:6px;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  text-align:center;
  vertical-align:middle;
  width:230px;
  height:50px;
}

td.attendance{
  font-size:6px;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  text-align:center;
  vertical-align:middle;
  width:75px;
  height:50px;
  border-right-style:dotted;
}

td.leaving{
  font-size:6px;
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  text-align:center;
  vertical-align:middle;
  width:75px;
  height:50px;
  border-left-style:none;
}

td.attendanceLine{
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  border-right-style:dotted;
  height:21px;
}

td.leavingLine{
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  border-left-style:none;
  height:21px;
}

td.line{
  border-style:solid;
  border-width:1px;
  border-color:#000000;
  font-size:6px;
  height:21px;
}

p.profession{
  position: absolute;
  top: 0px;
  left: 590px;
  border-style: solid;
  border-width: 1px;
  padding: 23px 63px 23px 63px;
}
