@import "./../../node_modules/normalize.css/normalize";
@import "./../../node_modules/materialize-css/bin/materialize";
@import "all";
@import "print";
@import "admin";

html{
  font-size: 18px;
  color: #303030;
}

body{
  background-color: #FDFDFD;
}
