@import "./../../node_modules/normalize.css/normalize";
@import "./../../node_modules/materialize-css/bin/materialize";

@import "variables";

@import "all";
@import "attendance-page";
@import "print";
@import "admin";

html {
  font-size: 18px;
  color: #303030;
}

body {
  background-color: #FDFDFD;
  margin: 0px;
  color: #010101;
  -webkit-print-color-adjust: exact;
}
