body{
  font-family: "MS ゴシック","Hiragino Kaku Gothic ProN",sans-serif;
  background: #ffffff;
}

.print--hidden{
  display: none;
}

.attendance-record{
  top: 0px;
  left: 0px;
  width: 670px;
  position: relative;
}

.attendance-record__title{
  font-size: 16px;
  letter-spacing: 1em;
}

.attendance-record__profession{
  position: absolute;
  top: 0px;
  left: 475px;
  border-style: solid;
  border-width: 1px;
  padding: 13px 43px 13px 43px;
  font-weight: bold;
  font-size: 20px;
}

.attendance-record__table{
  border-collapse: collapse;
  margin-top: 15px;
}

.attendance-record__table2{
  @extend .attendance-record__table;
  position: absolute;
  left: 255px;
}

.attendance-record__table__menu{
  font-size: 9px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  text-align: center;
  vertical-align: middle;
  height: 28px;
  width: 140px;
}

.attendance-record__table__menu--title{
 @extend .attendance-record__table__menu;
 width: 56px;
}

.attendance-record__table2--approval__menu{
  @extend .attendance-record__table__menu;
  width: 165px;
}

.attendance-record__table2--request__menu{
  @extend .attendance-record__table__menu;
  width: 45px;
}

.attendance-record__table2--approval__insert{
  @extend .attendance-record__table__menu;
  width: 55px;
  height: 56px;
}

.attendance-record__table2--request__insert{
  @extend .attendance-record__table__menu;
  width: 45px;
  height: 56px;
}

.attendance-record__table__menu__insert{
  border: none;
  background: none;
  text-align: center;
  vertical-align: middle;
  font-size: 8px;
  width: 100%;
}

.attendance-record__table__column{
  font-size: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  text-align: center;
  vertical-align: middle;
  width: 45px;
  height: 50px;
}

.attendance-record__table__column--dayAndweek{
  @extend .attendance-record__table__column;
  padding-top: 4px;
  vertical-align: top;
  width: 28px;
  height: 50px;
}

.attendance-record__table__column--attendance{
  @extend .attendance-record__table__column;
  width: 70px;
  height: 50px;
  border-right-style: dotted;
}

.attendance-record__table__column--leaving{
  @extend .attendance-record__table__column;
  width: 70px;
  height: 50px;
  border-left-style: none;
}

.attendance-record__table__column--mark{
  @extend .attendance-record__table__column;
  width: 50px;
  font-size: 11px;
  font-weight: bold;
}

.attendance-record__table__column--midnightAndholidayAndprearranged{
  @extend .attendance-record__table__column;
  width: 55px;
}

.attendance-record__table__column--etc{
  @extend .attendance-record__table__column;
  width: 150px;
  height: 50px;
}

.attendance-record__table__cell{
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  font-size: 6px;
  height: 21px;
  width: 45px;
}
.attendance-record__table__cell--dayAndweek{
  @extend .attendance-record__table__cell;
  width: 28px;
}

.attendance-record__table__cell--attendanceLine{
  @extend .attendance-record__table__cell;
  border-right-style: dotted;
  width: 70px;
}

.attendance-record__table__cell--leavingLine{
  @extend .attendance-record__table__cell;
  border-left-style: none;
  width: 70px;
}

.attendance-record__table__cell--mark{
  @extend .attendance-record__table__cell;
  width: 50px;
}

.attendance-record__table__cell--midnightAndholidayAndprearranged{
  @extend .attendance-record__table__cell;
  width: 55px;
}

.attendance-record__table__cell--etc{
  @extend .attendance-record__table__cell;
  width: 150px;
}

.attendance-record__table__insert{
  border: none;
  background: none;
  text-align: center;
  vertical-align: middle;
  font-size: 6px;
  width: 100%;
}

.attendance-record__table__total{
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  font-size: 6px;
  height: 21px;
}

.attendance-record__table__total--top{
  @extend .attendance-record__table__total;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}

.attendance-record__table__finish-vacation{
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  font-size: 6px;
  height: 28px;
}

.attendance-record__table__finish-vacation--top{
  @extend .attendance-record__table__finish-vacation;
  text-align: center;
  vertical-align: middle;
  width: 60px
}
