<div class="admin-pagename">管理者情報管理</div>

<div class="row admin-form">
  <div class="col s12">
    <div clas="row">
      <div class="select-field col s12">
	<label>管理者ID</label>
	<select class="browser-default" id="select-admin-id">
	  <%==
	     n = 1
	     Model::Admins.get_all_id.map { |admin|
	     if admin == @admin_id
	       "<option value=#{n += 1} selected>#{admin}</option>"
	     else
	       "<option value=#{n += 1}>#{admin}</option>"
	     end
	     }.join
	     %>
	</select>
      </div>
    </div>
    <div clas="row">
      <div class="input-field col s12">
	<input id="admin-new-password" type="password" class="validate">
	<label for="admin-new-password">New Password</label>
      </div>
    </div>
    <div clas="row">
      <div class="input-field col s12">
	<input id="confirm-admin-new-password" type="password" class="validate">
	<label for="confirm-admin-new-password">Confirm Password</label>
      </div>
    </div>
    <div clas="row">
      <div class="input-field col s12">
	<input id="admin-password" type="password" class="validate">
	<label for="admin-password">Current Password</label>
      </div>
    </div>
  </div>
</div>

<p>
  <a class="waves-effect waves-light btn admin-button" id="admin-modify" href="#">変更</a>
  <a class="waves-effect waves-light btn modal-trigger admin-button right" id="admin-delete" href="#modal">削除</a>
</p>


<div id="modal" class="modal">
    <div class="modal-content">
      <h4 id="modal-h4">確認</h4>
      <p id="modal-p">本当に以下のアカウントを削除しますか？</p>
      <p id="modal__admin-delete__admin-id">管理者ID:</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="waves-effect waves-green btn-flat modal-action modal-close" id="admin-delete-disagree">いいえ</a>
      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close" id="admin-delete-agree">はい</a>
    </div>
  </div>
