<h1>管理者情報管理</h1>
<p><div id="message"></div></p>
<p>
  ID:<input type="text" id="admin-id" value=<%= env['rack.session'][:id] %> size="40">
 <!-- <input type="button" id="admin-select" value="選択"> -->
</p>

<p>new pass:<input type="password" id="admin-new-password" size="40"></p>

<p>confirm new pass:<input type="password" id="confirm-admin-new-password" size="40"></p>

<p>pass:<input type="password" id="admin-password" size="40"></p>

<p>
  <input type="button" id="admin-modify" value="変更">
</p>
<p>
  <input type="button" id="admin-delete" value="削除">
</p>
