<% @title = '管理者登録 | 管理者 ' %>

<h1 class="admin-pagename"><%= "管理者登録" %></h1>

<div class="row admin-form">
  <form class="col s12">
    <div clas="row">
      <div class="input-field col s12">
	<input id="admin-id" type="text" class="validate" autofocus>
	<label for="admin-id" class="active">Admin ID</label>
      </div>
    </div>
    <div clas="row">
      <div class="input-field col s12">
	<input id="admin-password" type="password" class="validate">
	<label for="admin-password">Password</label>
      </div>
    </div>
    <div clas="row">
      <div class="input-field col s12">
	<input id="confirm-admin-password" type="password" class="validate">
	<label for="confirm-admin-password">Confirm Password</label>
      </div>
    </div>
    <div clas="row">
      <div class="input-field col s12">
	<button type="submit" class="waves-effect waves-light btn admin-button" id="admin-register" href="#">登録</button>
      </div>
    </div>	
  </form>
</div>
