<h1 id="page-name"><%= "管理者登録" %></h1>

<div class="row">
  <div class="col s12">
    <div clas="row">
      <div class="input-field col s12">
	<input id="admin-id" type="text" class="validate" >
	<label for="admin-id">Admin ID</label>
      </div>
    </div>
    <div clas="row">
      <div class="input-field col s12">
	<input id="admin-password" type="password" class="validate">
	<label for="admin-password">Password</label>
      </div>
    </div>
    <div clas="row">
      <div class="input-field col s12">
	<input id="confirm-admin-password" type="password" class="validate enter-for-regist-admin">
	<label for="confirm-admin-password">Confirm Password</label>
      </div>
    </div>
  </div>
</div>


<p>
  <a class="waves-effect waves-light btn admin-button-color" id="admin-register" href="#">登録</a>
</p>
