<h1><%= "管理者登録" %></h1>
<p>ID:<input type="text" id="admin_id" size="40"></p>
<p>pass:<input type="password" id="admin_password" size="40"></p>
<p>confirm pass:<input type="password" id="confirm_admin_password" size="40"></p>
<p>
  <input type="button" id="admin-register" value="送信">
</p>

<script type="text/javascript" src=<%= "#{js_path}/admin.js"%>></script>

<!--
<script type="text/javascript" src=<%= "#{js_path}/admin_register.js" %>></script>
-->