<h3>部署管理</h3>

<h5>部署の登録</h5>

<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s8">
        <input id="register-department-name" type="text" class="validate enter-for-regist-department">
        <label for="register-department-name">登録する部署名</label>
      </div>
      <div class="input-field col s4">
        <a class="waves-effect waves-light btn admin-button-color" id="department-register">登録</a>
      </div>
    </div>
  </div>
</div>


<h5>部署名の変更・削除</h5>

<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s8">
	<label>部署の選択・削除</label>
	<select class="browser-default" id="select-department">
	  <option value="0" disabled selected>部署を選択</option>
	  <%==
	     Model::Departments.list_ids.map { |d|
	     "<option value=#{d}>#{Model::Departments.name_of(d)}</option>"
	     }.join
	     %>
	</select>
      </div>
    </div>    
    <div class="row">
      <div class="input-field col s8">
	<input id="new-department-name" type="text" class="validate enter-for-rename-department">
	<label for="new-department-name">新しい部署名</label>
      </div>
      <div class="input-field col s4">
	<a class="waves-effect waves-light btn admin-button-color" id="department-rename">変更</a>
      </div>
    </div>
  </div>
</div>

<p>
  <a class="waves-effect waves-light btn modal-trigger admin-button-color" id="department-delete" href="#modal">削除</a>
</p>


<div id="modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 id="modal-h4">確認</h4>
      <p id="modal-p">本当に部署を削除しますか？</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="waves-effect waves-green btn-flat modal-action modal-close" id="department-delete-disagree">いいえ</a>
      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close" id="department-delete-agree">はい</a>
    </div>
  </div>
