<h1 class="admin-pagename">部署管理</h1>

<h5>部署の登録</h5>

<div class="row admin-form">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s8">
        <input id="register-department-name" type="text" class="validate" autofocus>
        <label for="register-department-name" class="active">登録する部署名</label>
      </div>
      <div class="input-field col s4">
        <button type="submit" class="waves-effect waves-light btn admin-button" id="department-register">登録</button>
      </div>
    </div>
  </form>
</div>


<h5>部署名の変更・削除</h5>

<div class="row admin-form">
  <div class="col s12">
    <div class="row">
      <div class="select-field col s8">
	<label>部署の選択・削除</label>
	<select class="browser-default" id="select-department">
	  <option value="0" disabled selected>部署を選択</option>
	  <%==
	     Model::Departments.list_ids.map { |d|
	     "<option value=#{d}>#{Model::Departments.name_of(d)}</option>"
	     }.join
	     %>
	</select>
      </div>
    </div>    
    <form class="row">
      <div class="input-field col s8">
	<input id="new-department-name" type="text" class="validate">
	<label for="new-department-name">新しい部署名</label>
      </div>
      <div class="input-field col s4">
	<button type="submit" class="waves-effect waves-light btn admin-button" id="department-rename">変更</button>
      </div>
    </form>
  </div>
</div>

<p>
  <a class="waves-effect waves-light btn admin-button" id="department-delete" href="#!">削除</a>
</p>


<div id="modal__department-delete" class="modal">
    <div class="modal-content">
      <h4 id="modal-h4">確認</h4>
      <p id="modal-p">以下の部署を本当に削除しますか？</p>
      <p id="modal__delete-department__name">　</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="waves-effect waves-green btn-flat modal-action modal-close" id="department-delete-disagree">いいえ</a>
      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close" id="department-delete-agree">はい</a>
    </div>
  </div>
