<nav class="admin-menu">
  <div class="nav-wrapper left admin-menu__background">
    <ul class="left hide-on-med-and-dow">
      <div class="right">
	<span>ID: </span>
	<span id="login-admin-id"><%= @admin_id %></span>
      </div>
      <div class="container">
	<li><a href="#" class="to-top" id="to-top">トップページ</a></li>
	<li><a href="#" class="to-admin-user" id="admin-user">ユーザ管理</a></li>
	<li><a href="#" class="to-admin-department" id="admin-department">部署管理</a></li>
	<li><a href="#" class="to-admin-modify" id="admin-admin">管理者ID管理</a></li>
	<!--<li><a href="#" class="to-admin-register" id="to-admin-register">管理者追加</a></li> -->
	<li><a href="#" class="admin-logout" id="admin-logout">ログアウト</a></li>
      </div>
    </ul>
  </div>
</nav>

<div class="container">
  
  <%== yield %>
  
</div>


<% content_for :javascript do %>
<script type="text/javascript" src=<%= "#{js_path}/admin.js"%>></script>
<% end %>

