<h1 id="page-name">管理画面ログイン</h1>
<div id="error_message"></div>
<p>
  ID:<input type="text" id="admin-id" size="40">
</p>
<p>
  Pass:<input type="password" id="admin-password" size"40">
</p>
<p>
  <input type="button"  id="admin-login" value="ログイン">
</p>
