<h1 id="page-name">管理画面ログイン</h1>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="admin-id" type="text" class="validate">
        <label for="admin-id">Admin ID</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="admin-password" type="password" class="validate">
        <label for="admin-password">Password</label>
      </div>
    </div>
  </form>
</div>

<a class="waves-effect waves-light btn" id="admin-login">ログイン</a>

