<h3 id="page-name">管理画面トップ</h3>

<div class="admin-top__caption">ユーザ情報管理</h5>
<p>各ユーザの名前、部署名、パスワードの変更を行います</p>


<h5>部署管理</h5>
<p>部署の登録、名称変更、削除を行います</p>

<h5>管理者情報管理</h5>
<p>管理者のパスワード変更を行います</p>

<h5>管理者追加</h5>
<p>管理者の追加を行います</p>

<h5>ログアウト</h5>
<p>ログアウトします</p>
