<h1>管理画面トップ</h1>
<p>
  <input type="button" id="admin-user" value="ユーザ情報管理">
</p>

<p>
  <input type="button" id="admin-department" value="部署管理">
</p>

<p>
  <input type="button" id="admin-logout" value="ログアウト">
</p>

<script type="text/javascript" src="./dist/admin_top.js"></script>
