<h3>管理画面トップ</h3>

<button class="btn waves-effect waves-light admin-button to-admin-user" >ユーザ情報管理</button>
<p>各ユーザの名前、部署名、パスワードの変更を行います</p>

<button class="btn waves-effect waves-light admin-button to-admin-department" >部署管理</button>
<p>部署の登録、名称変更、削除を行います</p>

<button class="btn waves-effect waves-light admin-button to-admin-modify" >管理者情報管理</button>
<p>管理者のパスワード変更を行います</p>

<button class="btn waves-effect waves-light admin-button to-admin-register" >管理者追加</button>
<p>管理者の追加を行います</p>

<button class="btn waves-effect waves-light admin-button admin-logout" >ログアウト</button>
<p>ログアウトします</p>
