<div class="admin-pagename">管理画面トップ</div>

<table class="admin-top__menu-detail-table">
  <tr>
    <td class="admin-top__menu-detail-table__button-td">
      <button class="btn waves-effect waves-light admin-button to-admin-user admin-button__top" id="top__admin-user">ユーザ情報管理</button>
    </td>
    <td>
      <p>各ユーザの名前、部署名、パスワードの変更を行います</p>
    </td>
  </tr>
  <tr>
    <td class="admin-top__menu-detail-table__button-td">
      <button class="btn waves-effect waves-light admin-button to-admin-department admin-button__top" id="top__admin-department" >部署管理</button>
    </td>
    <td>
	<p>部署の登録、名称変更、削除を行います</p>
    </td>
  </tr>
  <tr>
    <td class="admin-top__menu-detail-table__button-td">
      <button class="btn waves-effect waves-light admin-button to-admin-modify admin-button__top" id="top__admin-admin">管理者ID管理</button>
    </td>
    <td>
	<p>管理者のパスワード変更、アカウントの追加および削除を行います</p>
    </td>
  </tr>
<!--
  <tr>
    <td class="admin-top__menu-detail-table__button-td">
	<button class="btn waves-effect waves-light admin-button to-admin-register admin-button__top" id="top__to-admin-register" >管理者追加</button>
    </td>
    <td>
      <p>管理者の追加を行います</p>
    </td>
  </tr>
-->
  <tr>
    <td class="admin-top__menu-detail-table__button-td">
      <button class="btn waves-effect waves-light admin-button admin-logout admin-button__top" id="top__admin-logout">ログアウト</button>
    </td>
    <td>
	<p>ログアウトします</p>
    </td>
  </tr>
</table>
