<h1 class="admin-pagename">ユーザ情報管理</h1>

<div class="row admin-form">
  <div class="col s12">
    <form class="row">
      <div class="input-field col s6">
        <input id="user-id" type="text" class="validate" autofocus>
        <label for="user-id" class="active">User ID</label>
      </div>
      <div class="input-field col s6">
        <button type="submit" class="waves-effect waves-light btn admin-button" id="user-select">選択</button>
    	<a class="waves-effect waves-light btn admin-button" id="get-users-list">一覧</a>
      </div>
    </form>
    <div class="row">
      <div class="input-field col s12">
        <input id="user-name" type="text" class="validate">
        <label for="user-name">User Name</label>
      </div>
    </div>
    <div class="row">
      <div class="select-field col s8">
	<label>所属部署</label>
	<select class="browser-default" id="select-department">
	  <option value="0" disabled selected>部署を選択</option>
	  <%==
	     Model::Departments.list_ids.map { |d|
	     "<option value=#{d}>#{Model::Departments.name_of(d)}</option>"
	     }.join
	     %>
	</select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="user-new-password" type="text" class="validate">
        <label for="user-new-password">New Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="confirm-user-new-password" type="text" class="validate">
        <label for="confirm-user-new-password">Confirm Password</label>
      </div>
    </div>
  </div>
</div>

<p>
  <a class="waves-effect waves-light btn admin-button" id="user-modify" href="#">変更</a>
  <a class="waves-effect waves-light btn admin-button right" id="user-delete" href="#!">削除</a>
</p>

<div id="modal__user-delete" class="modal">
    <div class="modal-content">
      <h4 id="modal-h4">確認</h4>
      <p id="modal-p">以下のユーザを本当に削除しますか？</p>
      <p id="modal__user-delete__user-id">ID</p>
      <p id="modal__user-delete__user-name">名前</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="waves-effect waves-green btn-flat modal-action modal-close" id="user-delete-disagree">いいえ</a>
      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close" id="user-delete-agree">はい</a>
    </div>
  </div>
</div>

<div id="modal__user-list" class="modal">
  <div class="modal-content">
    <h4 id="modal-h4">ユーザ一覧</h4>
    <div class="row">
      <form class="col s12">
	<div class="row">
	  <div class="input-field col s6">
            <input id="modal__search__input" type="text" class="validate">
            <label for="modal__search__input">IDまたは名前</label>
	  </div>
	  <div class="input-field col s6">
            <button type="submit" class="waves-effect waves-light btn admin-button" id="modal__search__start-button">検索</button>
	  </div>
	</div>
      </form>
    </div>
    <div class="collection" id="modal__users-list">
    </div>
</div>

