<h1>管理者画面もどき</h1>
<form action="/admin/register_department" method="post">
<p>部署の登録
  <input type="text" name="name" size="40">
  <input type="submit" value="登録">
</p>
</form>
<form action="/admin/change_department" method="post">
<p>部署の変更
  <select name="no"><%= department_options %></select>
  ⇒<input type="text" name="name" size="40">
  <input type="submit" value="変更">
</form>
</p>
<form action="/admin/delete_department" method="post">
<p>部署の削除
  <select name="no"><%= department_options %></select>
  <input type="submit" value="削除">
</p>
</form>
