<p><%= @msg %></p>
<form action="/register_department" method="post">
<p>部署No:<input type="number" name="no" size="40"></p>
<p>部署名:<input type="text" name="name" size="40"></p>
<p><input type="submit" value="登録" name="button_action">
   <input type="submit" value="削除" name="button_action">
</p>
</form>
