<% @title = '出退勤' %>
<div id="bookmarklet_action"style="display:none"><%= @action %></div>
<div id="user_id" style="display:none"><%= @user_id %></div>

<div id="bookmarklet_result"></div>
<div id="bookmarklet_message"></div>

<% content_for :javascript do %>
<script type="text/javascript" src=<%= "#{js_path}/bookmarklet.js" %>></script>
<% end %>
