td.ex1{
  font-size:11px;
  text-align:center;
  vertical-align:top;
  width:25;
  height:45;
}

td.ex2{
  font-size:11px;
  text-align:center;
  vertical-align:middle;
  width:60;
  height:45;
}

td.ex3{
  font-size:12px;
  text-align:center;
  vertical-align:middle;
  height:25;
}

td.ex4{
  font-size:11px;
  text-align:center;
  vertical-align:middle;
  vertical-align;middle;
  width:180;
  height:45;
}
