<h1><%= @title %></h1>
<form action="/login" method="post">
<p>
  名前:<input type="text" name="name" size="40">
</p>
<p>
  <input type="submit" value="ログイン">
</p>
</form>
<form action="/list" method="post">
<p>
  <input type="submit" value="リスト">
</p>
</form>
<a href="register">ユーザ登録</a>
