<!DOCTYPE html>
<html lang="ja">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <title><%= @title %></title>
</head>
<body>
  <%== yield %>
  </br>
  <a href=<%= app_path %>>トップページ</a>
</body>
</html>
