<h1><%= "ユーザ登録" %></h1>
<form action="/reg_finish" method="post">
<p>ID:<input type="number" name="id" size="40"></p>
<p>名前:<input type="text" name="name" size="40"></p>
<p>所属：<select name="depno">
  <%=
    Userslist.list_depno.map { |d|
      "<option value=#{d}>#{Userslist.dtos(d)}</option>"
    }.join
  %>
</select>
</p>
<p>pass:<input type="password" name="pass" size="40"></p>
<p>
  <input type="submit" value="送信">
</p>
</form>
