<h1><%= "ユーザ登録" %></h1>
<form action="/reg_finish" method="post">
<p>ID:<input type="number" name="no" size="40"></p>
<p>名前:<input type="text" name="name" size="40"></p>
<p>所属：
  <select name="department"><%=
    Departments.get_ids.map { |d|
      "<option value=#{d}>#{Departments.name_of(d)}</option>"
    }.join
  %></select>
</p>
<p>pass:<input type="password" name="pass" size="40"></p>
<p>
  <input type="submit" value="送信">
</p>
</form>
