<h1><%= "ユーザ登録" %></h1>
<p>ID:<input type="number" id="user_id" size="40"></p>
<p>名前:<input type="text" id="name" size="40"></p>
<p>所属：
  <select class="browser-default" id="department"><%==
    Model::Departments.list_ids.map { |d|
      "<option value=#{d}>#{Model::Departments.name_of(d)}</option>"
    }.join
  %></select>
</p>
<p>入社日：
  <input type="number" id="enter_year" size="4">年
  <input type="number" id="enter_month" size="2">月
  <input type="number" id="enter_day" size="2">日
</p>
<p>pass:<input type="password" id="password" size="40"></p>
<p>
  <input type="button" id="register" value="送信">
</p>

<% content_for :javascript do %>
<script type="text/javascript" src=<%= "#{js_path}/register.js" %>></script>
<% end %>
