<div hidden class='test'>
     <%= @json_str %>
</div>

<script>
  var txt = document.querySelector(".test").textContent;
  console.log(txt);
  var json_obj = JSON.parse(txt);
  console.log(json_obj);

  document.write(json_obj[1].attendance);


</script>