<h1>ユーザページ</h1>

<form action="/attend" method="post">
<p>
  <input type="submit"  name="attend" value="出勤">
</p>
</form>

 
<form action="/leave" method="post">
<p>
  <input type="submit"  name="leave" value="退勤">
</p>
</form>

 
<form action="/read-data" method="post">
<p>
  <input type="submit"  name="readdata" value="出退勤状況">
</p>
</form>

<form action="/logout" method="post">
<p>
  <input type="submit"  name="logout" value="ログアウト">
</p>
</form>