<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<link rel="stylesheet" type="text/css" href="./day.css" />
<link rel="stylesheet" type="text/css" href="./print.css" media="print"/>
</head>
<body>
<b style="font-size:18px;">
勤　務　管　理　表
</b>
<p class="ex1" style="border-style: solid; border-width: 1px; padding: 23px 53px 23px 53px;"><b style="font-size:18px;">専門職用</b></p>
<p></p>
<table  border="1" cellspacing="0" cellpadding="0" id="table1" style="border-collapse: collapse;">
  <tr>
    <td class="ex3" colspan="2">年月</td>
    <td class="ex3" colspan="2"><input type="text" id="YearsAndMonths" readonly="readonly" style="width:150px; border:none; background:none; text-align:center; vertical-align:middle; font-size: 8px"></td>
    <td class="ex3" style="border-style:none; border-top-style: hidden;"></td>
    <td class="ex3" colspan="3">承認</td>
    <td class="ex3">申請</td>
  </tr>
  <tr>
    <td class="ex3" colspan="2">所属</td>
    <td class="ex3" colspan="2"><input type="text" id="YearsAndMonths" style="width:150px; height:28px; border:none; background:none; text-align:center; vertical-align:middle; font-size: 8px"></td>
    <td class="ex3" style="border-style:none;"></td>
    <td class="ex3" rowspan="2">　</td>
    <td class="ex3" rowspan="2">　</td>
    <td class="ex3" rowspan="2">　</td>
    <td class="ex3" rowspan="2">　</td>
  </tr>
  <tr>
    <td class="ex3" colspan="2">No.</td>
    <td class="ex3" colspan="2"><input type="text" id="YearsAndMonths" style="width:150px; height:28px; border:none; background:none; text-align:center; vertical-align:middle; font-size: 8px"></td>
  </tr>
  <tr>
    <td class="ex3" colspan="2">氏名</td>
    <td class="ex3" colspan="2"><input type="text" id="YearsAndMonths" style="width:150px; height:28px; border:none; background:none; text-align:center; vertical-align:middle; font-size: 8px"></td>
  </tr>

  <tr bgcolor="#BFBFBF">
    <td class="ex1">日付</td>
    <td class="ex1">曜日</td>
    <td class="ex5">入室時刻</td>
    <td class="ex6">退出時刻</td>
    <td class="ex2" style="width:64; font-size:11px;"><b>上司<br>承認印</b></td>
    <td class="ex2" style="width:68;">深夜勤務<br>22時-翌5時</td>
    <td class="ex2" style="width:68;" >休日<br>勤務時間</td>
    <td class="ex2" style="width:68;">振替休暇<br>予定日</td>
    <td class="ex2">有給<br>休暇</td>
    <td class="ex2">振替休暇<br>取得日</td>
    <td class="ex4">時間外業務は必ず上司による指示を<br>受けてください。</td>
  </tr>
  <tr>
    <td class="ex9" style="font-size:6px; text-align:center; vertical-align:middle; height:21;">合計</td>
    <td class="ex9"></td>
    <td class="ex9"></td>
    <td class="ex9"></td>
    <td class="ex9"></td>
    <td class="ex9"></td>
    <td class="ex9"></td>
    <td class="ex9"></td>
    <td class="ex9"></td>
    <td class="ex9"></td>
    <td class="ex9"></td>
  </tr>
  <tr>
    <td class="ex9" colspan="2" style="font-size:6px; text-align:center; vertical-align:middle; height:28;">当月消化<br>有休日数</td>
    <td class="ex9"></td>
    <td class="ex9" colspan="2"></td>
    <td class="ex9"></td>
  </tr>

</table>

<script type="text/javascript" src="./js/day.js" charset="UTF-8">
</script>

</body>
</html>
